:root {
  @include generate-color-variants(--disabled-grey-color, #E0E0E1);
  @include generate-color-variants(--disabled-grey-background, #F1F2F3);
}

.sf-sidebar__aside {
  z-index: var(--sidebar-z-index, 2);
}

