:root {
  @include generate-color-variants(--disabled-grey-color, #E0E0E1);
  @include generate-color-variants(--disabled-grey-background, #F1F2F3);
}

.sf-sidebar__aside {
  z-index: var(--sidebar-z-index, 2 !important);
}

.sf-header__search input {
  padding: 2px 6px 3px 6px;
}

.sf-image--placeholder {
  opacity: 0 !important;
}

.notifications .sf-notification__message {
  margin-right: 35px;
}