#my-account {
    box-sizing: border-box;
    @include for-desktop {
      max-width: 1272px;
      padding: 0 var(--spacer-sm);
      margin: 0 auto;
    }
  }
  .my-account {
    @include for-mobile {
      --content-pages-sidebar-category-title-font-weight: var(
        --font-weight--normal
      );
      --content-pages-sidebar-category-title-margin: var(--spacer-sm)
        var(--spacer-sm) var(--spacer-sm) var(--spacer-base);
    }
    @include for-desktop {
      --content-pages-sidebar-category-title-margin: var(--spacer-xl) 0 0 0;
    }
  }
  .breadcrumbs {
    padding: var(--spacer-base) 0 var(--spacer-lg);
    display: none;
  }
  
  ::v-deep .my-account {
    margin-top: 40px;
  }
  
  ::v-deep .my-account .sf-content-pages__sidebar {
    max-height: 550px;
    height: 100%;
    border-radius: 14px;
    max-width: 374px;
    overflow: hidden;
  }
  
  ::v-deep .my-account .sf-content-pages__content {
    padding-left: 98px;
  }
  
  ::v-deep .my-account .sf-tabs__title {
    padding-right: 10px;
    font-family: var(--font-family--primary);
  }
  
  ::v-deep .my-account .sf-my-profile .message {
    color: #43464e;
  }
  
  ::v-deep .my-account .sf-input input {
    padding-left: 5px;
    font-weight: 300;
    color: #43464e;
  }
  
  ::v-deep .my-account .form__button {
    background: #32463d;
    color: #fff;
    font-family: var(--font-family--primary);
    max-width: 215px;
    width: 100%;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
  }
  
  ::v-deep .my-account .notice {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
  }
  
  ::v-deep .my-account .notice a {
    color: #0468db;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  ::v-deep .sf-content-pages__category-title {
    display: none;
  }
  
  ::v-deep .logout-btn button {
    color: red;
  }
  
  ::v-deep .sf-content-pages__title {
    font-family: var(--font-family--primary);
    font-weight: 500;
    font-size: 26px;
  }
  
  ::v-deep .sf-list .sf-list__item .sf-menu-item__label {
    font-family: var(--font-family--primary);
    font-weight: 500;
    font-size: 20px;
  }
  
  ::v-deep .sf-content-pages__sidebar div:last-child {
    margin-top: 100px;
  }
  
  ::v-deep .my-account .sf-content-pages__sidebar div:last-child span {
    color: #1d1f22;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
  }